@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RON';
  src: url('../fonts/RON.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham.otf') format('opentype');
}
